.form,
.ui.form {
  width: 100%;
  // max-width: 105rem;
  margin: 3rem auto;
  padding: 6.8rem 9rem;
  padding: 6.8rem 9rem;
  border-radius: 1rem;
  background-color: #fff;
  position: relative;
  z-index: 5;

  @include mq("phablet") {
    padding: 5rem 2rem;
  }

  &-title {
    font-weight: bold;
  }

  &-content {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 5rem;
    padding: 3rem 0;
    // overflow: hidden;
    grid-template-columns: 1fr 1fr;
    // &.form-content--contactus{
    //   grid-template-columns: 1fr 1fr;
    //   @include mq("tablet") {
    //     grid-template-columns: 1fr;
    //   }
    // }
    .full-width {
      grid-column: span 2;
      @include mq("tablet") {
        grid-column: span 1;
      }
    }

    @include mq("tablet") {
      grid-template-columns: 1fr;
    }
  }
  .form-field {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include mq("tablet") {
      margin-bottom: 0;
    }
    label {
      font-size: 3rem;
      text-transform: capitalize;
      color: $primary;
    }
    input,
    textarea {
      max-width: 100%;
      font-size: 3rem;
      color: $primary;
      padding: 1.5rem;
      border: none;
      background-color: $gray;
      border: 2px solid transparent;
      transition: all 0.1s ease-in-out;
      outline: none;

      &:focus {
        border: 2px solid $secondary;
      }
    }

    textarea {
      height: 25rem;
      max-height: 40rem;
    }

    .label-file {
      font-size: 2.4rem;
      color: $secondary;
      padding: 2.2rem;
      background-color: $gray;
      border: 1px dashed rgb(147, 182, 247);
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
    .input-file {
      display: none;
    }

    .radio-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      justify-content: center;
      gap: 3rem;
      // @include mq("tablet", "max") {
      //   grid-template-columns: repeat(2, 1fr);
      // }
      @include mq("phone") {
        grid-template-columns: 1fr 1fr;
      }
      &-content {
        display: grid;
        grid-template-columns: 1fr;
      }

      label {
        max-width: 100%;
        font-size: 2.2rem;
        text-transform: capitalize;
        text-align: center;
        color: $primary;
        padding: 2rem;
        background-color: $gray;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
      input[type="radio"]:checked ~ label {
        color: $white;
        background-color: $secondary;
      }
      &.radio-box--owner {
        grid-template-columns: 1fr 1fr;
      }
    }

    .submit-btn {
      font-size: 3.5rem;
      text-transform: uppercase;
      color: $white;
      padding: 2rem;
      background-color: $primary;
      border: 1px solid $secondary;
      border-radius: 5rem;
      width: 80%;
      align-self: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      // &:hover {
      //   color: $secondary;
      //   background-color: $white;
      // }
    }

    .hide {
      display: none;
    }
    &.with-bg {
      input {
        background-image: url("../../../images/gps\ 1.svg") !important;
        background-repeat: no-repeat !important;
        background-position: 10px center !important;
        &:lang(en) {
          background-position: 95% center !important;
        }
      }
    }
  }
}
